{
  "parser": "@typescript-eslint/parser",
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "overrides": [
    {
      "files": ["*.js", "*.jsx", "*.mjs"],
      "parserOptions": {
        "parser": "babel-eslint"
      },
      "rules": {
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/no-var-requires": "off"
      }
    }
  ],
  "rules": {
    "camelcase": "error"
  }
}
