<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>fusliez notes | Among Us Notes</title>
    <meta
      name="description"
      content="A companion notes app for Among Us social deduction game. Helps you keep tabs on players, your winning record, and includes a notepad and maps."
    />
    <link rel="canonical" href="https://kedyn.github.io/fusliez-notes/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="fusliez notes" />
    <meta
      property="og:description"
      content="A companion notes app for the Among Us online social deduction game. Helps you keep tabs on players, your winning record, and includes a notepad and maps."
    />
    <meta property="og:url" content="https://kedyn.github.io/fusliez-notes/" />
    <meta
      property="og:image"
      content="https://kedyn.github.io/fusliez-notes/open-graph.jpg"
    />
    <meta
      property="og:image:alt"
      content="Among us character holding a notebook, pointing to a PhD sign to his mini version."
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content="https://kedyn.github.io/fusliez-notes/" />
    <meta name="twitter:title" content="fusliez notes" />
    <meta
      name="twitter:description"
      content="A companion notes app for the Among Us online social deduction game. Helps you keep tabs on players, your winning record, and includes a notepad and maps."
    />
    <meta
      name="twitter:image"
      content="https://kedyn.github.io/fusliez-notes/assets/images/open-graph.jpg"
    />
    <meta
      name="twitter:image:alt"
      content="Among us character holding a notebook, pointing to a PhD sign to his mini version."
    />

    <link rel="manifest" href="./site.webmanifest" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-title"
      content="<%= htmlWebpackPlugin.options.title %>"
    />
    <meta name="application-name" content="fusliez notes" />
    <meta name="theme-color" content="#282b2f" />

    <link
      rel="preconnect"
      href="https://fonts.googleapis.com/css?family=Inter:wght@200,400;500;600&display=swap"
      rel="stylesheet"
    />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="./apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="./favicon-16x16.png"
    />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-178235837-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-178235837-1");
    </script>
  </head>
  <body>
    <noscript>You need to enable Javascript to run this application.</noscript>
    <div id="root"></div>
  </body>
</html>
